.aboutme-title-father{
    height: 12vh;
    width: 18vw;
    @include flex-column-center;
    align-self: flex-start;
    @include responsive(laptop){
        width: 22vw;   
        }
    @include responsive(tab){
        width: 33vw;   
        }
        @include responsive(mobile){
            width: 50vw;     
            }
            @include responsive(minmobile){
                width: 66vw;   
                }
}
.aboutme-title{
    font-size: 2rem;
    font-weight: bolder;
    @include flex-row-center;
}
    
.about-father{
    @include flex-column-between;
    width: 98vw;
    height: 160vh;
    @include responsive (laptop){
        height: 180vh;
        }
    @include responsive (tab){
        height: 220vh;  
        width: 97.6vw;
        }
        @include responsive(bigmobile){
        height: 160vh; 
        }
    
        @include responsive(mobile){
            height: 200vh;
        }
    @include responsive (minmobile){
        height: 250vh;             
        }
        .header-about-father{
            height: 22vh;
            width: 90vw;
            @include responsive (laptop){
                @include flex-row-start-center;
                height: 33vh;
                }
        }
        
    .header-about{
        font-family: verdana;
        font-size: 6em;
        font-weight: 700;
        color: #f5f5f5;
        text-align: center;
        text-shadow: 1px 1px 1px gainsboro , 1px 2px 1px gainsboro, 1px 3px 1px gainsboro , 
        1px 4px 1px gainsboro, 1px 5px 1px gainsboro,  1px 6px 1px gainsboro, 
        1px 7px 1px gainsboro, 1px 8px 1px gainsboro, 1px 9px 1px gainsboro, 1px 10px 1px gainsboro ,
        1px 18px 6px rgba(16 , 16 , 16 , 0.4),  1px 22px 10px  rgba(16 , 16 , 16 , 0.2), 
        1px 25px 35px  rgba(16 , 16 , 16 , 0.2),  1px 30px 60px  rgba(16 , 16 , 16 , 0.4);
    }
    @include responsive(mobile){
        font-size: 10px;
    }

.about-text{
    font: 2rem 'Times New Roman', Times, serif;
    width: 50%;
    height: auto;
    padding: 0 2vw;
    line-height: 4rem;
    text-indent: 10px;
    background-color: black;
    color: white;
    white-space:pre-line;
    @include responsive (bigmobile){
font-size: 1rem;
width: 80vw;
    }
    @include responsive(superGreatScreen){
        width: 90vw;
    }
    
}
p::first-letter{
    color: red;
    font-size: 4rem;
    text-indent: 5cm;
}  
}