.aboutme-title-father{
    height: 4vh;
    width: 20vw;
    @include flex-column-end;
    align-self: flex-start;
.aboutme-title{
    width: 20vw;
    height: 1vh;
    font-size: 2rem;
    font-weight: bolder;
    @include flex-row-center
}
}
.about-father{
    @include flex-column-between;
    width: 98vw;
    height: 160vh;

 
    .header-about{
        font-family: verdana;
        height: 8vh;
        font-size: 6em;
        font-weight: 700;
        color: #f5f5f5;
        text-align: center;
        text-shadow: 1px 1px 1px gainsboro , 1px 2px 1px gainsboro, 1px 3px 1px gainsboro , 
        1px 4px 1px gainsboro, 1px 5px 1px gainsboro,  1px 6px 1px gainsboro, 
        1px 7px 1px gainsboro, 1px 8px 1px gainsboro, 1px 9px 1px gainsboro, 1px 10px 1px gainsboro ,
        1px 18px 6px rgba(16 , 16 , 16 , 0.4),  1px 22px 10px  rgba(16 , 16 , 16 , 0.2), 
        1px 25px 35px  rgba(16 , 16 , 16 , 0.2),  1px 30px 60px  rgba(16 , 16 , 16 , 0.4);
        @include responsive (laptop){
        width: 100%;
        }
        @include responsive (superGreatScreen){
            height: 8vh;
            }
    }

.about-text{
    font: 2rem 'Times New Roman', Times, serif;
    width: 50%;
    height: auto;
    padding: 0 2vw;
    line-height: 4rem;
    text-indent: 10px;
    background-color: black;/*  */
    color: white;
    white-space:pre-line;
    @include responsive (minmobile){
text-align: right;
font-size: 1rem;
    }
    @include responsive(superGreatScreen){
        width: 98vw;
    }
}
p::first-letter{
    color: red;
    font-size: 4rem;
    text-indent: 5cm;
}  
}