.about-father{
    @include flex-column-between;
.me-father{
    height: 38vh;
    @include flex-column-between;
    
.img-father{
    
    @include flex-column-center;
//here is the img
    .me{
        width: 12vw;
        height: 12vh;
        border-radius: 50%;
        margin-top: 2vh;
    }
}

.header-father{
    
    height: 12vh;
    @include flex-column-center;
    @include responsive(laptop){
        @include flex-column-start;
        
    }
    // here is th name
    .header-about{
        font-family: 'Bebas Neue', cursive;
        font-size: 2rem;
        color: lightgray;
        text-align: center;
        text-shadow: 20px 20px 1px  black ;
        @include responsive (laptop){
        width: 100%;
        }
    
    }
}
}

.about-text{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    width: 50%;
    padding: 0 2vw;
    line-height: 4rem;
    text-indent: 10px;
    background-color: black;/*  */
    color: white;
    white-space:pre-line;
    @include responsive (minmobile){
text-align: right;
font-size: 1rem;
    }
}
p::first-letter{
    color: red;
    font-size: 4rem;
    text-indent: 5cm;
}  
}