
.badget-father{
    width: 98vw;
    height:120vh;
    animation: fallBudget 2s ease-in-out;
    @include flex-column-between;
    @include responsive(mobile){
        height: 70vh;
    }
    @include responsive (tab){
    
        width: 97vw; 
        
        
        }
    
    .badget-son{
        height: 50%;
        width: 50%;
        @include flex-row-between;
    }
    
    .badget-img{
        max-height: 100%;
        max-width: 100%;
        &:hover{
            transition: all 500ms ease-in;
            transform: scale(1.2);
        }
    }
    .scrollBadgetFather{
        animation: fallBudget 1.5s ease-in-out;
    }
    @keyframes fallBudget {
        0%{
            opacity: 0;
        }
        50%{
            transition: 300ms;
        }
        60%{
        opacity: 0;
    }
        75%{
            transform: translatey(-44px);
        }
    }

}