.contact-father{
    height: 88vh;
    width: 100vw;
    @include flex-column-between;

.name, .email{
    border: none;
    outline: none;
    color: #ffffff;
    background-color: transparent;
    border-bottom: 1px solid red;
    height: 4vh;
    width: auto;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
}
.send {
    margin-top: 2vh;
height: 6vh;
width: auto;
background-color: rgb(0, 174, 255);
font-size: 1.5rem;
text-align: center;
}
textarea{
    width: 40vw;
    height: 40vh;

}
}
