.footer{
    height: 88vh;
    width: 100vw;
    @include flex-row-between;
    @include responsive(mobile){
        height: 93vh;
        width: 100vw;
    }
    
.footer-father{
    align-self: flex-end;
    height: 12vh;
    width: 100%;
    background-color:black;
    @include flex-row-between;
    @include responsive(minmobile){
        height: 18vh;
    }
    
.reference{
    width: 20%;
    height: 6vh;
    color:white;
    @include flex-row-between;

}
.reference-an{
    font-size: 1rem;
}
.heart{
    color:red;
    animation: heart 1s infinite ease-in-out;
    height: 4vh;
    width: 4vw;
    position: relative;
    left: 4vh;
}

@keyframes heart{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
}
}
.date-father{
    width: 79%;
    @include flex-row-center;
    @include responsive(tab){
        @include flex-row-end;

    }
    @include responsive(bigmobile){
        text-align: center;
    }

 

    
    .date{
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
    }
    .reference-mid{
        color: #ffffff;
        @include responsive(bigmobile){
        font-size: 1rem;
        }
    
    }
}
.icon-father{
    width: 1%;
    @include flex-row-end;
    @include responsive(minmobile){
        @include flex-column-center;

    }
.icon{
    color: white;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
}
}
}