.footer{
    height: 12vh;
    width: 99.2vw;
    
    @include flex-row-between;
   
    @include responsive(superGreatScreen){
        width: 98.9vw;
    }
    @include responsive(greatscreen){
        width: 98.9vw;
    }
    @include responsive(bigscreen){
        width: 98.9vw;
    }
   
    @include responsive(laptop){
        width: 98.1vw;
    }
    @include responsive(tab){
        width: 97.5vw;
    }
    @include responsive(mobile){
        height: 93vh;
        
    }
    
.footer-father{
    align-self: flex-end;
    height: 12vh;
    width: 100%;
    background-color:black;
    @include flex-row-between;
    @include responsive(minmobile){
        height: 18vh;
    }
    .reference{
        width: 10%;
        height: 6vh;
        margin-left: 2vw;
        color:white;
        @include flex-row-between; 
        .reference-an{
            font-size: 1rem;
            text-align: center;
            @include flex-column-center;
            @include responsive(minmobile){
                font-size: 0.8rem;
            }
        }
        .heart{
            color:red;
            animation: heart 1s infinite ease-in-out;
            height: 4vh;
            width: 4vw;
        
        }
    }
}
    .reference-mid-father{
        width: 75vw;
        @include flex-row-center;
        .reference-mid{
            color: #ffffff;
            max-width: 95%;    
            text-align: right;
            @include responsive(bigmobile){
            font-size: 1rem;
            } 
            @include responsive(minmobile){
                font-size: 0.8rem;
            }
        }
        .date{
            max-width: 5%;      
            .date-input{
                background-color: transparent;
            border: none;
            outline: none;
            color: white;
            }
        }
    
}
.icon-father{
    width: 10%;
    @include flex-row-evently;
    @include responsive(minmobile){
    @include flex-column-center;
    }
    @include responsive(mobile){
        @include flex-column-center;
        }
.icon{
    color: white;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
}
}
@keyframes heart{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
}
}