
.mobileNav{
    display: none
}
.a-logo, .n-logo{
    color: white;
    font-size: 4rem;
    text-shadow: 5px 5px 1px  black ;
    @include responsive(tab){
        font-size: 3rem;
    }
}
.n-logo{
    position: relative;
    left: -4vh;
    color: black;
    text-shadow: 5px 5px 1px white ;
    @include responsive(bigmobile){
        left: -1vw;
    }
}
.n-logo{
    transform: rotate(44deg);
    text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.404) ;
}
nav a.active{
    border-bottom: 2px solid #0000;
}

.head{
    height: 12vh;
    width: 99.2vw;
    background-color: lightgray;
    position: relative;
            @include responsive(tab){
                width: 97.5vw;
            }
            @include responsive(superGreatScreen){
                width: 99vw;
            }
            @include responsive(greatscreen){
                width: 98.8vw;
            }
            @include responsive(bigscreen){
                width: 98.5vw;
            }
            @include responsive(laptop){
                width: 98.1vw;
            }
            @include responsive(tab){
                width: 97.5vw;
            }
            @include responsive(bigmobile){
                &:before{
                    display: none;
                }
            }
            
            &:before{
                position: absolute;
                content: "";
                top: 33%;
                right: 50%;
                left: 20%;
                bottom: 0;
                border-radius: 50%;
                height: 12vh;
                width: 66vw;
                background-color: lightgray;   
            }
        }
        nav{
            width: 100%;
    @include flex-row-center;
        }
        
        .nav-li{     
            list-style: none;
            width: 100%;
        height: 1vh;
        @include flex-row-center;
        position: relative;
        top: -1.5vw;
        @include responsive(laptop){
            top: -3vh;
        }
        @include responsive(tab){
            top: 1vh;
        }
        }
        .a{
            font-family: Rowdies;
            font-size: 1.5rem;
            margin: 1.8rem;
            cursor: pointer;
            list-style: none;
            @include responsive(laptop){
                font-size: 1rem;
                margin: 1.5rem; 
            }
            @include responsive(tab){
                margin: 1rem;    
            }
            @include responsive(bigmobile){
                font-size: 0.8rem;
                margin: 0.8rem;
            }
        }
        .anchor{
            text-decoration: none;
            color: #000;
        }
        
@media (max-width: 500px){
    
    .desktopHeader{
        display: none;
    }
    .mobileNav{
        display: inline;
    }
    .hamburgerMenu{
        color: white;
        font-size: 2rem;;
    }
    .head{
        width: auto;
        height: auto;
    }
        .a-logo, .n-logo{
            font-size: 2rem;
    }
    .nav{
        width: 1vw;
    }
    .nav-li{     
        display: block;
        list-style: none;
    height: auto;

    }
}