
  .mobileNav{
    display: none
}
.a-logo, .n-logo{
    color: white;
    font-size: 5rem;
    text-shadow: 5px 5px 1px  black ;
}
.n-logo{
    position: relative;
    left: -4vh;
    color: black;
    text-shadow: 5px 5px 1px white ;
}
.n-logo{
    transform: rotate(44deg);
    text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.404) ;
}
nav{
width: 100%;
            position: relative;
            left: 33vw;
        }
        .head{
            height: 12vh;
            width: 100%;
            background-color: lightgray;
            position: relative;
            border: 1px solid black;
            &:before{
                position: absolute;
                content: "";
                top: 33%;
                right: 50%;
                left: 20%;
                bottom: 0;
                border-radius: 50%;
                height: 12vh;
                width: 66vw;
                background-color: lightgray;   
            }
        }
        .nav-li{     
            display: flex;
            list-style: none;
        height: 1vh;
        position: relative;
        top: -8vh;
        }
        .a{
            list-style: none;
            font-family: Rowdies;
            text-decoration: none;
            margin: 1rem;
            font-size: 1.2rem;
        }
@media (max-width: 1200px){
    
    nav{
        width: 100%;
        left: 22vw;
    }
.a{
    margin: 10px;
}
}
@media (max-width: 900px){
    nav{
        left: 16vw;
    }
}
@media (max-width: 800px){
    .a-logo, .n-logo{
        font-size: 3rem;
    }
    nav{
        width: 100%;
        left: 11vw;
        top: 9vh;
    }
    .a{
        font-size: 1rem;
    }  
}
@media (max-width: 650px){
    .head{
    
        &:before{
            display: none;
        }
    }
    .a-logo, .n-logo{
        font-size: 3rem;
    }
    .n-logo{
        position: relative;
        left: -1vw;
    }
    nav{
        width: 100%;
        left: -1vw;
        top: 9.5vw;
    }
    .a{
        font-size: 0.8rem;
    }
}
@media (max-width: 425px){
    
    .desktopHeader{
        display: none;
    }
    .mobileNav{
        display: inline;
    }
    .hamburgerMenu{
        color: white;
        font-size: 2rem;
    }
    .head{
        height: 33vh;
        width:44vw;
    }
        .a-logo, .n-logo{
            font-size: 2rem;
    }
    .nav{
        width: 20%;
    }
    .nav-li{     
        display: block;
        list-style: none;
    height: 38vh;
    top: -4vh;
    }

}