.a-logo, .n-logo{
    font-size: 1rem;
    color: white;
    font-size: 6rem;
    text-shadow: 5px 5px 1px  black ;

}
.n-logo{
    position: relative;
    left: -4vh;
    color: black;
    text-shadow: 5px 5px 1px white ;

}
.n-logo{
    transform: rotate(44deg);
    text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.404) ;

}

@media (min-width: 800px){
    .head{
        height: 12vh;
        width: 100vw;
        background-color: lightgray;
        position: relative;
        @include flex-row-start;
        &:before{
            position: absolute;
            content: "";
            top: 33%;
            right: 50%;
            left: 20%;
            bottom: 0;
            border-radius: 50%;
            height: 12vh;
            width: 66vw;
            background-color: lightgray;   
        }
    }
    nav{
        width: 10%;
        position: relative;
        left: 33vw;
        text-decoration: none;
      

    }
    .nav-ul{
        display: flex;
        list-style: none;
        text-decoration: none;
        width: 10%;

    }
    .nav-li{     
        display: flex;
        margin: 1.3rem;
        list-style: none;
        color: black;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    height: 1vh;
    width: 100%;
    }
    .a{
        list-style: none;
        text-decoration: none;
    }
    
}
@media (max-width: 800px){
        .head{
        height: 12vh;
        width: 100vw;
        background-color: lightgray;
        position: relative;
        @include flex-row-start;
        &:before{
            position: absolute;
            content: "";
            top: 33%;
            right: 50%;
            left: 20%;
            bottom: 0;
            border-radius: 50%;
            height: 12vh;
            width: 66vw;
            background-color: lightgray;   
        }
    }
    
    .nav{
        width: 10%;
        position: relative;
        left: -4vw;
        text-decoration: none;
      

    }
    .nav-ul{
        display: flex;
        list-style: none;
        text-decoration: none;
        width: 10%;

    }
    .nav-li{     
        display: flex;
        margin: 1.3rem;
        list-style: none;
        color: black;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    height: 1vh;
    width: 100%;
    }
    .a{
        list-style: none;
        text-decoration: none;
    }
}
@media (max-width: 500px){
    .head{
        height: 12vh;
        width: 100vw;
        background-color: lightgray;
        position: relative;
        @include flex-row-start;
        &:before{
            position: absolute;
            content: "";
            top: 33%;
            right: 50%;
            left: 20%;
            bottom: 0;
            border-radius: 50%;
            height: 12vh;
            width: 66vw;
            background-color: lightgray;   
        }
        .a-logo, .n-logo{
            
            font-size: 3rem;
            
        
        }
    }
    
    .nav{
        width: 30%;
    left: -1vh;
        text-decoration: none;
    
    .nav-ul{
      
        list-style: none;
        text-decoration: none;
        width: 10%;
       
        
    
    .nav-li{     
display: flex;
margin: 1rem;
    
        list-style: none;
        color: black;
    font-size: 1rem;
    font-family: 'Bebas Neue', cursive;
    height: 1vh;
    width: 100%;
    
        
    
    .a{
        list-style: none;
        text-decoration: none;
    
    }
}
    }
}
}