.home{
    @include flex-column-center;
    height: 88vh;
    width: 98vw;
    color: #000000;
    font-size: 3rem;
    .welcome-father{
        @include flex-row-evently;
        width: calc(98vw - 28);
    }
    @include responsive(mobile){
        font-size: 1rem;
    }
    
    .cv{
        font: 2rem sans-serif;
        outline: none;
        border: none;
        border-radius: 22px 33px 22px 11px;

        cursor: grab;
         background-color:#000000 ;
        color: rgb(87, 87, 131);
        &:hover{
            color: red;
            transform: scale(2);
        }
    }
    .myimg-father{
        width: 30vw;
    }
    .typing-father{
        width: 60vw;
    }
    
    .my-img{
        width: 20vw;
    
        margin-top: 4vh;
    }
    p::first-letter{
        color: red;
        font-size: 3.8rem;
    }
   
    
    
}
.aboutme-home-father{
    width: 20vw;
    @include flex-row-evently
}
.aboutme-home{
    font-size: 3rem;
}