.home{
    @include flex-column-center;
    height: 100vh;
    width: 98vw;
    @include responsive(mobile){
        height: 60vh;

    }
    @include responsive (tab){
        
        width: 97vw; 
        
        
        }

    .welcome-father{
        @include flex-row-evently;
        width: 98vw;
        height: 80vh;
        font-size: 3rem;
        @include responsive(mobile){
            font-size: 2rem;
        }
        @include responsive(minmobile){
            font-size: 1rem;
        }
    }
    .myimg-father{
        width: 30vw;
        height: auto;
        .my-img{
            height: auto;
            max-width: 100%;
        }
    }
    .typing-father{
        width: 60vw;
        p::first-letter{
            color: red;
            font-size: 3.8rem;
        }
    }
    .cv-father{
        height: 10vh;
        width: 20vw;
        @include flex-row-center;
        @include responsive(tab){
            height: 20vh;
        @include flex-column-start-center;
        }
        
    .cv{
        font: 2rem sans-serif;
        outline: none;
        border: none;
        height: 8vh;
        max-width: 34vw;
        border-radius: 80px ;
        cursor: pointer;
        background-color:#7a7777 ;
        color: #ffff;
        &:hover{
            color: red;
            transform: scale(2);
        }
        @include responsive(greatscreen){
            height: auto;
            width: auto;
        }
        @include responsive(laptop){
            width: 38vw;
        }
        @include responsive(bigmobile){
            width: 32vw;
            font-size: 1rem;
        
        }
        
        @include responsive(mobile){
            width: 40vw;
        }
        @include responsive(minmobile){
            width: 50vw;   
        }
    }
    }
}