@mixin flex-row-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

}

@mixin flex-column-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
@mixin flex-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row
}

