.skill-father{
    height: 100vh;
    @include flex-row-evently;
    @include responsive(bigmobile){
        height: 170vh;
        @include flex-column-between;
    }

.skill-son{
    width: 99vw;
    height: 100vh;
    @include flex-row-evently;
    @include responsive(bigmobile){
        @include flex-column-between;
        height: 170vh;
    }

.program, .lang, .others{
    @include flex-column-start;
    height: auto;
    width: auto;
    background-color: black;
    color: white;
    line-height: 6vh;
.h-skills{
    background-color:purple;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}
.img-skills{
    height: 3vh;
    width: 2vw;
    float: left;
    @include flex-row-center;
    @include responsive(mobile){
        width: 4vw;
    }
    @include responsive(minmobile){
        width: 8vw;
    }
}
h2{
    @include flex-row-center;
}

}
}
}
.back{
    @include flex-row-center;
    height: 1vh;
    width: 99vw;

}
